<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Index Page</title>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>

<th:block th:include="fragments/general.html :: navbar"></th:block>

<div class="container">

    <h1 class="header center orange-text">Bienvenido</h1>
    <div class="row center">
        <h5 class="header col s12 light" th:text=${currentUser.getName()}></h5>
    </div>

</div>

<th:block th:include="fragments/general.html :: javascriptfiles"></th:block>
</body>
</html>
